<!-- Permet de récupérer l'ordre -->
<% let tri;
if(typeof ordre != 'undefined'){ 
      tri = ordre 
    }else{
      tri = 'asc';
    }
%> 
<table class="tableau">
    <tr>
        <th><a href='/trier/id/<%= tri %>'>ID</a></th>
        <th><a href='/trier/nom/<%= tri %>'><%= __('tabEnteteNom') %></a></th> 
        <th><a href='/trier/prenom/<%= tri %>'><%= __('tabEntetePrenom') %></a></th>
        <th><a href='/trier/telephone/<%= tri %>'><%= __('tabEnteteTelephone') %></a></th>
        <th><a href='/trier/courriel/<%= tri %>'><%= __('tabEnteteCourriel') %></a></th>
        <th><a href='/ajouter/'><%= __('tabEnteteAjouter') %></a></th> 
    </tr>
    <% adresses.forEach(elm => {%>
        <tr>
            <td><%= elm._id %></td>
            <td contenteditable='true'><%= elm.nom %></td>
            <td contenteditable='true'><%= elm.prenom %></td>
            <td contenteditable='true'><%= elm.telephone %></td>
            <td contenteditable='true'><%= elm.courriel %></td>
            <td><a href="/detruire/<%= elm._id %>"><%= __('optionDetruire') %></a></td>
            <td><a class='sauver' href="#"><%= __('optionSauver') %></a></td>
        </tr>
    <% }) %>
</table>